.App{

  background-color: rgb(83, 2, 42);
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.Todo{

  margin-top: 30px;
}

.Todo form{

  display: flex;
  justify-content: space-around;
  width: 600px;
  

  

 
}

input{
  width: 80%;
  height: 25px;
  padding: 10px;
  border-radius: 70px;
  border: none;
 
}

.Todo form button{

  border-radius: 50%;
  padding: 15px;
  border: none;
  background-color: rgb(40, 175, 237);
  color: #fff;
}

.listItems ul
{

  list-style: none;
}

.listItems{

  width: 90%;
  margin-top: 50px;

}



.listItems span{

   width: 200px;
   display: inline-block;
   padding: 10px;
   margin-left: 100px;

}

.editBtn{

  background-color: rgb(4, 241, 4);
  padding: 10px;
  border-radius: 25px;
  border: none;
  color: #fff;
  margin-left: 10px;
}

.deleteBtn{

  margin-left: 10px;
  background-color: yellow;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.items{

  padding: 20px;
}